header {
    min-width: none;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.5rem;
    display:flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    padding-top: 2em;
}

#left-box {
    float: left;
    width: 17%;
    text-align: right;
    padding-right: 3%;
}

#middle-box {
    float: left;
    width: 60%;
}

a {
    text-decoration: none;
}

/* a:active {
    text-decoration: none;
    color: black;
} */

#right-box {
    float: right;
    width: 17%;
    text-align: left;
    padding-left: 3%;
}

#title {
    font-family: "Great Vibes", Arial, Helvetica, sans-serif;
    font-size: 500%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Kanji */
.kanji {
    color: #d01500;
    font-family: "Lora", Arial, Helvetica, sans-serif;
    font-size: 250%;
    font-weight: bold;
}