.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1.5rem;
}

.content {
    width: 35rem;
}

.content,
form {
    display: flex;
    flex-direction: column;
}

form {
    width: 100%;
}

.buttons-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    width: 35rem;
}

button {
    background-color: #d01500;
    border: 3px solid #d01500;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.2rem;
    margin: 1rem;
    padding: 0.5rem 3rem;
    margin-top: 2rem;
}

button:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
    opacity: 80%;
}

select {
    border: 1px solid lightgrey;
    border-radius: 0.5rem;
    font-size: 1.1rem;
    font-weight: 100;
}