button {
    background-color: white;
    border: 3px solid #d01500;
    border-radius: 0.5rem;
    cursor: pointer;
    color: #d01500;
    font-size: 1.2rem;
    padding: 0.5rem 3rem;
}

button:hover {
    background-color: #d01500;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

button:active {
    background-color: #d01500;
    color: white;
    cursor: pointer;
    text-decoration: none;
    opacity: 80%;
}