<div id="footer">
    <div id="footerText">
        <!-- <nav>
            <a routerLink="/contact">
                <h3>
                    CONTACT
                </h3>
            </a>
        </nav>

        <span class="tab"></span>

        <nav>
            <a routerLink="/jobs">
                <h3>
                    JOBS
                </h3>
            </a>
        </nav>

        <span class="tab"></span>

        <nav>
            <a routerLink="/giftcards">
                <h3>
                    GIFT CARDS
                </h3>
            </a>
        </nav>

        <span class="tab"></span> -->

        <h3>
            2499 E STATE ST HERMITAGE, PA 16148
        </h3>
        <div>
            <div style="padding-top: 10px;">&copy;Kobe Japanese Restaurant</div>
        </div>
    </div>
</div>