<div class="descBlock">
    <!-- Title -->
    <div style="padding-bottom: 30px;">
        <h1 style="text-align: center;">
            ORDER ONLINE
        </h1>
    </div>

    <!-- Navigation Bar -->
    <div class="navigation">
        <nav>
            <a routerLink="/order/appetizers">
                <h3>
                    APPETIZERS
                </h3>
            </a>
        </nav>

        <span class="tab"></span>

        <nav>
            <a routerLink="/order/teppanyaki">
                <h3>
                    TEPPANYAKI
                </h3>
            </a>
        </nav>

        <span class="tab"></span>

        <nav>
            <a routerLink="/order/sushi">
                <h3>
                    SUSHI
                </h3>
            </a>
        </nav>

        <span class="tab"></span>

        <nav>
            <a routerLink="/order/cart">
                <h3>
                    CART
                </h3>
            </a>
        </nav>
    </div>

    <!-- Display selected menu -->
    <router-outlet></router-outlet>

    <!-- Modal -->
    <!-- <button id="appModalButton" class="menu-button">Open Modal</button>

    <div id="appModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p>Example text...</p>
        </div>
    </div> -->

</div>