<div class="descBlock">

    <!-- Title -->
    <div style="padding-bottom: 30px;">
        <h1 style="text-align: center;">
            ORDER ONLINE
        </h1>
    </div>

    <div class="navigation">
        <nav>
            <a routerLink="/order/menu">
                <h3>
                    MENU
                </h3>
            </a>
        </nav>

        <span class="tab"></span>

        <nav>
            <a routerLink="/order/cart">
                <h3>
                    CART
                </h3>
            </a>
        </nav>

        <span class="tab"></span>
    </div>

    <router-outlet></router-outlet>

</div>