<table>
    <tr>
        <td colspan="5">
            <div style="padding-bottom: 1rem;">
                <h3>Order Items:</h3>
            </div>
        </td>
    </tr>
    <tr *ngFor="let item of order.items">
        <!-- Image -->
        <td>
            <a routerLink="/order/menu/{{item.menu.id}}">
                <img onerror="this.remove()" src="../assets/images/menu/{{item.menu.image}}" />
            </a>
        </td>
        <!-- Name -->
        <td>
            {{item.menu.name}}
        </td>
        <!-- Individual item price -->
        <td>
            {{item.menu.price | currency}}
        </td>
        <!-- Quantity -->
        <td>
            {{item.quantity}}
        </td>
        <!-- Quantity * Individual item price -->
        <td>
            {{item.price | currency}}
        </td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td>
            <em>
                Subtotal:
            </em>
        </td>
        <td>
            {{order.subtotal | currency}}
        </td>
    </tr>
    <tr>
        <td colspan="3"></td>
        <td>
            <em>
                Tax:
            </em>
        </td>
        <td>
            {{order.tax | currency}}
        </td>
    </tr>
    <tr style="font-size: 1.1rem;">
        <td colspan="3"></td>
        <td>
            <strong>
                Total:
            </strong>
        </td>
        <td>
            <strong>
                {{order.totalPrice | currency}}
            </strong>
        </td>
    </tr>
</table>