<!-- <h2>SOUPS & SALADS</h2>
<div *ngFor="let menu of soupAndSalads">
    <h3 style="text-transform:uppercase">{{menu.name}} — {{menu.price.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2}) }}</h3>
    <h4>{{menu.desc}}</h4>
</div>

<h2>APPETIZERS</h2>
<div *ngFor="let menu of apps">
    <h3 style="text-transform:uppercase">{{menu.name}} — {{menu.price.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2}) }}</h3>
    <h4>{{menu.desc}}</h4>
</div>

<h2>SUSHI APPETIZERS</h2>
<div *ngFor="let menu of sushiApps">
    <h3 style="text-transform:uppercase">{{menu.name}} — {{menu.price.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2}) }}</h3>
    <h4>{{menu.desc}}</h4>
</div>

<h2>NOODLES & RICE</h2>
<div *ngFor="let menu of noodlesAndRice">
    <h3 style="text-transform:uppercase">{{menu.name}} — {{menu.price.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2}) }}</h3>
    <h4>{{menu.desc}}</h4>
</div> -->



<!-- Iterate the array initialized in the corresponding ts file -->
<div *ngFor="let menu of menus">
    <!-- Print the title -->
    <h2>{{menu.label}}</h2>
    <!-- Iterate and print the item variables corresponding to the field -->
    <div *ngFor="let subMenu of menu.field">
        <h3 style="text-transform:uppercase">{{subMenu.name}} — {{subMenu.price.toLocaleString(undefined, { maximumFractionDigits: 2, minimumFractionDigits: 2}) }}</h3>
        <h4>{{subMenu.desc}}</h4>
    </div>
</div>