<!-- Main Header -->
<div id="header" style="display:flex; flex-direction: row; justify-content: center; align-items: center">
    <div id="left-box">
        <div class="kanji">
            {{sym1}}
        </div>
        <div class="kanji">
            {{sym2}}
        </div>
    </div>

    <div id="middle-box">
        <div id="title">{{title}}</div>
    </div>

    <div id="right-box">
        <div class="kanji">
            {{sym3}}
        </div>
        <div class="kanji">
            {{sym4}}
        </div>
    </div>
</div>

<!-- Navigation Bar -->
<div class="navigation">
    <nav>
        <a routerLink="/home">
            <h3>
                HOME
            </h3>
        </a>
    </nav>

    <span class="tab"></span>

    <nav>
        <a routerLink="/location">
            <h3>
                HOURS & LOCATION
            </h3>
        </a>
    </nav>

    <span class="tab"></span>

    <nav>
        <a routerLink="/menu">
            <h3>
                MENU
            </h3>
        </a>
    </nav>

    <span class="tab"></span>

    <nav>
        <a routerLink="/order">
            <h3>
                ORDER ONLINE
            </h3>
        </a>
    </nav>

    <span class="tab"></span>

    <nav>
        <a routerLink="/reservations">
            <h3>
                RESERVATIONS
            </h3>
        </a>
    </nav>
</div>

<!-- Tells the router where to display routed views -->
<router-outlet></router-outlet>

<!-- Footer -->
<div id="footer">
    <div id="footerText">
        <nav>
            <a routerLink="/contact">
                <h3>
                    CONTACT
                </h3>
            </a>
        </nav>

        <span class="tab"></span>

        <nav>
            <a routerLink="/jobs">
                <h3>
                    JOBS
                </h3>
            </a>
        </nav>

        <span class="tab"></span>

        <nav>
            <a routerLink="/giftcards">
                <h3>
                    GIFT CARDS
                </h3>
            </a>
        </nav>

        <span class="tab"></span>

        <h3>
            2499 E STATE ST HERMITAGE, PA 16148
        </h3>
    </div>
</div>