<!-- Navigation Bar -->
<div id="navBar" class="navigation">
    <nav>
        <a routerLink="/home">
            <h3>
                HOME
            </h3>
        </a>
    </nav>

    <span class="tab"></span>

    <nav>
        <a routerLink="/location">
            <h3>
                HOURS & LOCATION
            </h3>
        </a>
    </nav>

    <span class="tab"></span>

    <nav>
        <a routerLink="/menu">
            <h3>
                MENU
            </h3>
        </a>
    </nav>

    <span class="tab"></span>

    <nav>
        <a routerLink="/order-online">
            <h3>
                ORDER ONLINE
            </h3>
        </a>
    </nav>

    <span class="tab"></span>

    <!-- <nav>
        <a routerLink="/reservations">
            <h3>
                RESERVATIONS
            </h3>
        </a>
    </nav> -->
</div>