<!-- Main header -->
<app-header></app-header>

<!-- Nav Bar -->
<app-nav-bar></app-nav-bar>

<div class="descBlock">
    <!-- Title -->
    <div style="padding-bottom: 30px;">
        <h1 style="text-align: center;">
            ORDER ONLINE
        </h1>
    </div>

    <div id="order-online-message">
        <h3>{{orderOnlineMessage}}</h3>
    </div>

    <!-- Pickup -->
    <div id="pickup-button">
        <button class="select-button" routerLink="/order/menu">PICKUP</button>
    </div>

    <!-- Delivery -->
    <!-- <div id="delivery-button">
        <button disabled class="select-button">DELIVERY</button>
    </div> -->
</div>

<!-- Image -->
<!-- <div class="imgBlock">
    <img class="imgStyle" src="../assets/images/other/sushi.jpg" alt="Sushi">
</div> -->

<!-- Footer -->
<app-footer></app-footer>