.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 1.5rem;
}

.content {
    width: 35rem;
    display: flex;
    flex-direction: column;
}

.summary > div{
    display: flex;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.summary span {
    font-size: 1.2rem;
}

.summary h3 {
    margin: 0 1rem;
    flex-basis: 5rem;
}

.thank-you {
    margin-top: 4.5rem;
}

.buttons-container {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

/* .buttons {
    display: flex;
    justify-content: center;
    width: 35rem;
}

button {
    background-color: #d01500;
    border: 3px solid #d01500;
    border-radius: 0.5rem;
    color: white;
    font-size: 1.2rem;
    margin: 1rem;
    padding: 0.5rem 3rem;
    margin-top: 2rem;
}

button:hover {
    color: white;
    cursor: pointer;
    text-decoration: none;
    opacity: 80%;
} */