<div class="menu-group">
    <div *ngFor="let menu of sushiMenus">
        <!-- Print the title -->
        <h2>{{menu.label}}</h2>
        <!-- Iterate and print the item variables corresponding to the field -->
        <div class="menu-item" *ngFor="let subMenu of menu.field">
            <button class="menu-button">
                <div *ngIf="subMenu.image">
                    <img class="menu-item-image" src="../assets/menuImages/appetizers/{{subMenu.image}}"
                        alt={{subMenu.name}}>
                </div>
                <div class="menu-item-text">
                    <h3 class="menu-item-heading">
                        <span class="menu-item-name">{{subMenu.name}}</span>
                        <span class="menu-item-price">${{subMenu.price.toLocaleString(undefined, {
                            maximumFractionDigits: 2, minimumFractionDigits: 2}) }}</span>
                    </h3>
                    <h4 class="menu-item-desc">{{subMenu.desc}}</h4>
                </div>
            </button>
        </div>
    </div>
</div>