<!-- Main header -->
<app-header></app-header>

<!-- Nav Bar -->
<app-nav-bar></app-nav-bar>

<div class="descBlock">
    <!-- Hours & Location -->
    <div style="padding-bottom: 30px;">
        <h1 style="text-align: center;">
            HOURS & LOCATION
        </h1>
    </div>

    <!-- Address, Phone #, and Hours -->
    <h3>
        {{address}} <br>
        {{city}} <br>
        {{phoneNum}} <br><br>

        <strong>Monday</strong> <br>
        {{monHours}} <br><br>

        <strong>Tuesday through Thursday</strong> <br>
        {{tuesThursHours}} <br><br>

        <strong>Friday & Saturday</strong> <br>
        {{friSatHours}} <br><br>

        <strong>Sunday</strong> <br>
        {{sunHours}}
    </h3>
</div>

<!-- Map Location -->
<div class="imgBlock" style="padding-top: 30px;">
    <iframe class="imgStyle" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3000.3931237822194!2d-80.46569974851616!3d41.23499387917677!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8833c0707c883a67%3A0x5db0e6dde41b8ebb!2s2499%20E%20State%20St%2C%20Hermitage%2C%20PA%2016148!5e0!3m2!1sen!2sus!4v1662176062857!5m2!1sen!2sus" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<!-- Footer -->
<app-footer></app-footer>