<div style="padding-left: 10px; padding-right: 10px; margin-top: 3rem;">
    <h3>
        <b>All meals come with house soup, salad, fried rice, mushrooms, zucchini, onions, and two additional shrimp.</b>
    </h3>
</div>

<!-- Iterate the array initialized in the corresponding ts file -->
<div class="menu-group">
    <div *ngFor="let menu of menus">
        <!-- Print the title -->
        <h2>{{menu.label}}</h2>
        <!-- Iterate and print the item variables corresponding to the field -->
        <div *ngFor="let subMenu of menu.field">
            <h3 style="text-transform:uppercase">{{subMenu.name}} — {{subMenu.price.toLocaleString(undefined, {
                maximumFractionDigits: 2, minimumFractionDigits: 2}) }}</h3>
            <h4>{{subMenu.desc}}</h4>
        </div>
    </div>
</div>