@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Lora:regular,bold,italic,bolditalic&display=swap');

/* Application-wide Styles */
h1 {
    font-family: "Lora", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: "Lora", Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
    font-weight: normal;
}

h3 {
    font-family: "Lora", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    font-family: "Lora", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    margin-top: 0;
}

body {
    margin: 2em 0em 0em 0em;
}

nav {
    display: inline;
}

.tab {
    display: inline-block;
    margin-left: 20px;
}

/* body,
input[type="text"],
button {
    color: #333;
    font-family: Cambria, Georgia, serif;
} */

/* Button styles */
.home-button {
    background-color: white;
    border: 3px solid #d01500;
    border-radius: 12px;
    cursor: pointer;
    color: #d01500;
    font-size: 1.2rem;
    padding: 0.8rem 1.8rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.home-button:hover {
    background-color: #eee;
    color: #d01500;
}

.home-button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

.menu-button {
    grid-template-columns: 1fr;
    display: flex;
    padding: 1em;
    width: 100%;
}

/* Links */
a {
    color: inherit;
    text-decoration: none;
    /* padding: 2px 1px 0; */
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover, a:focus {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

a:active {
    color: #d01500;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

/* Navigation/Menu */
.navigation {
    text-align: center;
    padding-bottom: 2rem;
}

#footer {
    text-align: center;
    padding-top: 3rem;
}

#footerText {
    background-color: #d01500;
    padding: 1rem 0rem;
    color: white;
}

.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1.5em;
}

.menu-item {
    padding: 0.5em;
    display: flex;
}

.menu-item-text {
    flex-grow: 1;
}

.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.menu-item-name {
    margin-right: 1.5em;
}

.menu-item-desc {
    text-align: left;
    padding-top: 1.5em;
    line-height: 1.6;
}

.menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
    border-radius: 0.5em;
}

@media screen and (min-width: 992px) {
    .menu-group {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 12%;
        padding-right: 12%;
    }

    .menu-item-image {
        width: 125px;
        height: 125px;
    }
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

/* Kanji */
.kanji {
    color: #d01500;
    font-family: "Lora", Arial, Helvetica, sans-serif;
    font-size: 250%;
    font-weight: bold;
}

/* Images */
.imgStyle {
    border-radius: 26px;
    height: 500px;
    width: 95%;
    object-fit: cover;
}

.imgBlock {
    width: auto;
    height: auto;
    text-align: center;
}

/* Title/Description */
.homeDescBlock {
    text-align: center;
    width: auto;
    height: auto;
    padding: 50px 0px 50px 0px;
}

.descBlock {
    text-align: center;
    width: auto;
    height: auto;
    padding: 50px 0px;
}

/* everywhere else */
* {
    font-family: "Lora", Arial, Helvetica, sans-serif;
}