@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Lora:regular,bold,italic,bolditalic&display=swap');

/* Application-wide Styles */
h1 {
    font-family: "Lora", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: normal;
}

h2 {
    font-family: "Lora", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    display: inline;
}

h3 {
    font-family: "Lora", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: normal;
}

body {
    margin: 2em 0em 0em 0em;
}

nav {
    display: inline;
}

.tab {
    display: inline-block;
    margin-left: 20px;
}

/* body,
input[type="text"],
button {
    color: #333;
    font-family: Cambria, Georgia, serif;
} */

/* Button styles */
button {
    background-color: white;
    border: 3px solid #d01500;
    border-radius: 12px;
    cursor: pointer;
    color: #d01500;
    font-size: 1.2rem;
    padding: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

button:hover {
    background-color: #eee;
    color: #d01500;
}

button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

/* Links */
a {
    color: inherit;
    text-decoration: none;
    /* padding: 2px 1px 0; */
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover, a:focus {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

a:active {
    color: #d01500;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 8px;
}

/* Navigation/Menu/Footer */
#navigation {
    text-align: center;
    padding-bottom: 2rem;
}

#footer {
    text-align: center;
    padding-top: 3rem;
}

#footerText {
    background-color: #d01500;
    padding: 1rem 0rem;
    color: white;
}

/* Kanji */
.kanji {
    color: #d01500;
    font-family: "Lora", Arial, Helvetica, sans-serif;
    font-size: 250%;
    font-weight: bold;
}

/* Images */
.imgStyle {
    border-radius: 26px;
    height: 500px;
    width: 95%;
    object-fit: cover;
}

.imgBlock {
    width: auto;
    height: auto;
    text-align: center;
}

/* Title/Description */
.descBlock {
    text-align: center;
    width: auto;
    height: auto;
    padding: 40px 0px 70px 0px;
}

/* everywhere else */
* {
    font-family: "Lora", Arial, Helvetica, sans-serif;
}