@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Lora:regular,bold,italic,bolditalic&display=swap');

/* Application-wide Styles */
h1 {
    font-family: "Lora", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: "Lora", Arial, Helvetica, sans-serif;
    font-size: 2.25rem;
    font-weight: normal;
}

h3 {
    font-family: "Lora", Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    font-family: "Lora", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    margin-top: 0;
}

body {
    margin: 0;
}

nav {
    display: inline;
}

.tab {
    display: inline-block;
    margin-left: 20px;
}

/* body,
input[type="text"],
button {
    color: #333;
    font-family: Cambria, Georgia, serif;
} */

/* Links/Lists */
li a:hover{
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
    /* padding: 2px 1px 0; */
}

a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover, a:focus {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

a:active {
    color: #d01500;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
}

/* Navigation/Menu */
.navigation {
    text-align: center;
    padding: 1rem 1rem 1rem 1rem;
}

.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1.5em;
}

.menu-item {
    padding: 0.5em;
    display: flex;
}

.menu-item-text {
    flex-grow: 1;
}

.menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.menu-item-name {
    margin-right: 1.5em;
}

.menu-item-desc {
    text-align: left;
    padding-top: 1.5em;
    line-height: 1.6;
}

.menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
    border-radius: 0.5em;
}

@media screen and (min-width: 1080px) {
    .menu-group {
        grid-template-columns: repeat(2, 1fr);
        padding-left: 12%;
        padding-right: 12%;
    }

    .menu-item-image {
        width: 125px;
        height: 125px;
    }
}

/* Images */
.imgStyle {
    border-radius: 26px;
    height: 500px;
    width: 95%;
    object-fit: cover;
}

.imgBlock {
    width: auto;
    height: auto;
    text-align: center;
}

/* Title/Description */
.homeDescBlock {
    text-align: center;
    width: auto;
    height: auto;
    padding: 50px 0px 50px 0px;
}

.descBlock {
    text-align: center;
    width: auto;
    height: auto;
    padding: 50px 0px;
}

/* everywhere else */
* {
    font-family: "Lora", Arial, Helvetica, sans-serif;
}