<!-- Sushi Image -->
<div class="imgBlock">
    <img class="imgStyle" src="../assets/sushi.jpg" alt="Sushi">
</div>

<!-- Text Block + Button -->
<div class="descBlock">
    <!-- Welcome -->
    <h1 id="title">{{title}}</h1>

    <!-- Description -->
    <div id="homeDesc">
        <h2>{{desc}}</h2>
    </div>
    
    <!-- Button -->
    <div>
        <button>VIEW MENU</button>
    </div>
</div>

<!-- Teppanyaki Image -->
<div class="imgBlock">
    <img class="imgStyle" src="../assets/teppanyaki.jpg" alt="Teppanyaki">
</div>