<!-- Nav Bar -->
<app-nav-bar></app-nav-bar>

<!-- Sushi Image -->
<div style="padding-top: 1rem;" class="imgBlock">
    <img class="imgStyle" src="../assets/images/other/sushi.jpg" alt="Sushi">
</div>

<!-- Text Block + Button -->
<div class="homeDescBlock">
    <!-- Welcome -->
    <h1 id="title">{{title}}</h1>

    <!-- Description -->
    <div id="homeDesc">
        <h3>{{desc}}</h3>
    </div>
    
    <!-- Button -->
    <div id="viewMenuBtn">
        <a class="home-button" routerLink="/menu">VIEW MENU</a>
    </div>
</div>

<!-- Teppanyaki Image -->
<div class="imgBlock">
    <img class="imgStyle" src="../assets/images/other/teppanyaki.jpg" alt="Teppanyaki">
</div>